/* .search-box {
  background-color: #13296e;
  display: flex;
  justify-content: end;
  padding: 0 1rem 0.3rem 0;
}
button {
  background-color: #13296e;
  color: white;
} */

.search {
  max-width: 40%;
  margin: 0 auto;
  text-align: center;
  padding-top: 0.5rem;
}
.search-box {
  width: 70%;
}
